@model BacklogSettingType
@using NzbDrone.Core.Model


<select id="@ViewData.TemplateInfo.GetFullHtmlFieldId("")" name="@ViewData.TemplateInfo.GetFullHtmlFieldName("")" class="inputClass">
    @foreach (int type in Enum.GetValues(typeof(BacklogSettingType)))
    {
        var name = Enum.GetName(typeof(BacklogSettingType), type);
        <option value="@name" @((int)Model == type ? "selected=selected" : "")>@name</option>
    }
</select>